@import url('https://fonts.googleapis.com/css2?family=Anta&family=Klee+One&family=Marko+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');


/* === Global === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;
}

body {
  background-color: #203741;
  display: flex;
  flex-direction: column;
}

/* === Navbar === */
.navbar-container {
  display: flex;
  justify-content: center;
  background-color: #284551;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* Section du logo */
.navbar-logo img {
  height: 40px;
}

/* Boutons de navigation */
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-buttons button {
  background-color: #36CDCA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px #7D9AA7;
  transition: all 0.3s ease;
}

.navbar-buttons button:hover {
  background-color: #2CA4A3;
  box-shadow: 0 2px #132C36;
}

/* Informations utilisateur */
.navbar-user-info {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  font-size: 1rem;
}

.navbar-user-info span {
  font-weight: bold;
  color: #F6BC47;
}

/* === Contenu principal === */

.text-choose-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #F6BC47;
  font-weight: bold;
  margin-top: 5%;
}

.content-home-main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.home-main-left,
.home-main-right {
  width: 40%;
  padding: 20px;
  background-color: #284551;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 80%;
}

.home-main-left:hover,
.home-main-right:hover {
  border: solid 2px #36CDCA;
  cursor: pointer;
}

.home-main-left.selected,
.home-main-right.selected {
  border: solid 5px #36CDCA;
  cursor: pointer;
}

.home-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-title p {
  font-size: 20px;
  font-weight: 700;
  color: #36CDCA;
}

.home-title img {
  height: 40px;
}

.home-info {
  font-size: 16px;
  font-style: italic;
  color: #b3b3b3;
  margin-bottom: 10px;
}

.home-explication p {
  color: #fff;
  line-height: 1.5;
}

.input-fields {
  margin-top: 20px;
}

.input-fields label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #36CDCA;
}

.input-fields input {
  color: white;
  width: 40%;
  padding: 8px;
  border-radius: 10px;
  background-color: transparent;
  margin-left: 10px;
  font-size: 14px;
  outline: none; 
}



/* === Flèche centrale === */
.content-home-main > div:nth-child(2) img {
  height: 250px;
}

/* === Footer === */
.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #284551;
}

.info-footer {
  color: #fff;
}

.logo-footer img {
  margin: 0 10px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-footer img:hover {
  transform: scale(1.1);
}


/* CSS POUR LE CONTAINER GAMES */

.game-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2%;
  width: 100%;
}

.game-header p {
  color: #36cdca;
  font-size: 2rem;
  font-weight: bold;
}

.game-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logs-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.logs {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #f6bc47;
  color: #203741;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10%;
}

.logs p {
  margin: 5px 0;
}

.logs span {
  font-weight: bold;
  color: white;
}

.logs.blue-log {
  background-color: #36cdca;
}

.logs.yellow-log {
  background-color: #f6bc47;
}

.game-board .board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 10px;
  margin-bottom: 20px;
}

.cases {
  width: 110px;
  height: 110px;
  background-color: #14272f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #203741;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cases:hover {
  background-color: grey;
  cursor: pointer;
}

.cases.blue {
  color: #36cdca;
  font-size: 100px;
}

.cases.yellow {
  color: #f6bc47;
  font-size: 100px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.info-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #203741;
  background-color: #14272f;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
}

/* CSS POUR LA PAGE DE CLASSEMENT */
.classement-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  flex: 1;
  width: 80%;
  height: auto;
  margin: auto; /* Centre le container horizontalement */
  margin-top: 5%; /* Ajoute un espace pour centrer verticalement */
}

.content-left-classement,
.content-right-classement {
  width: 45%;
  background-color: #14272f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(19, 44, 54, 0.3);
  padding: 20px;
  color: black;
}

.content-left-classement p,
.content-right-classement p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #36CDCA;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-left-classement img,
.content-right-classement img {
  width: 40px;
  height: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

li {
  background-color: #36CDCA;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

li span {
  font-weight: bold;
  color: #203741;
}

li:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .classement-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .content-left-classement,
  .content-right-classement {
    width: 100%;
    margin-bottom: 20px;
  }
}
