body {
  background-color: #203741;
  margin: 0;
  padding: 0;
}

.navbar-container {
  padding: 1%;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* Section du logo */
.navbar-logo {
  font-size: 1.5rem;
  color: #ecf0f1;
}

/* Boutons de navigation */
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-buttons button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-buttons button:hover {
  background-color: #2980b9;
}

/* Informations utilisateur */
.navbar-user-info {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  font-size: 1rem;
}

.navbar-user-info span {
  font-weight: bold;
  color: #f1c40f;
}


.content-home-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  padding: 0 50px;
}

.home-main-left,
.home-main-right {
  width: 40%; /* Containers à gauche et à droite prennent 40% chacun */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.home-title p {
  display: flex;
  justify-content: center;
}

.home-main-left p,
.home-main-right p {
  margin: 10px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.content-home-main img {
  width: 200px;
}
