@import url('https://fonts.googleapis.com/css2?family=Anta&family=Klee+One&family=Marko+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');


/* === Global === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  background-color: #203741;
  display: flex;
  flex-direction: column;
}

/* === Navbar === */
.navbar-container {
  display: flex;
  justify-content: center;
  background-color: #284551;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

/* Section du logo */
.navbar-logo img {
  height: 40px;
}

/* Boutons de navigation */
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-buttons button {
  background-color: #36CDCA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px #7D9AA7;
  transition: all 0.3s ease;
}

.navbar-buttons button:hover {
  background-color: #2CA4A3;
  box-shadow: 0 2px #132C36;
}

/* Informations utilisateur */
.navbar-user-info {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  font-size: 1rem;
}

.navbar-user-info span {
  font-weight: bold;
  color: #F6BC47;
}

/* === Contenu principal === */
.text-choose-main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #F6BC47;
  font-weight: bold;
  margin-top: 5%;
}

.content-home-main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.home-main-left,
.home-main-right {
  width: 40%;
  padding: 20px;
  background-color: #284551;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 80%;
}

.home-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-title p {
  font-size: 20px;
  font-weight: 700;
  color: #36CDCA;

}

.home-title img {
  height: 40px; /* Ajuste la taille pour éviter les décalages */
}

.home-info {
  font-size: 16px;
  font-style: italic;
  color: #b3b3b3;
  margin-bottom: 10px;
}

.home-explication p {
  color: #fff;
  line-height: 1.5;
}

/* === Flèche centrale === */
.content-home-main > div:nth-child(2) img {
  height: 250px;
}

/* === Footer === */
.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #284551;
}

.info-footer {
  color: #fff;
}

.logo-footer img {
  margin: 0 10px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-footer img:hover {
  transform: scale(1.1);
}


/* CSS POUR LE CONTAINER GAMES */

.game-container {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(19, 44, 54, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header p {
  color: #36CDCA;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 10px;
}

.logs-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.logs {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #F6BC47;
  color: #203741;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10%;
}

.logs p {
  margin: 5px 0;
}

.logs span {
  font-weight: bold;
  color: white;
}

.logs.blue-log {
  background-color: #36CDCA;
}

.logs.yellow-log {
  background-color: #F6BC47;
}

.game-board .board {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  grid-template-rows: repeat(3, 140px);
  gap: 10px;
}

.cases {
  width: 130px;
  height: 130px;
  background-color: #14272f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #203741;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cases:hover {
  background-color: grey;
  cursor: pointer;
}

.cases.blue {
  color: #36CDCA;
  font-size: 100px;
}

.cases.yellow {
  color: #F6BC47;
  font-size: 100px;
}